input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: mediumaquamarine;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#contact {
  font-size: 35px;
}

.icon-bar {
  padding: 20px;
  font-size: 40px;
  /*width: 30px;*/
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-youtube {
  background: red;
  color: white;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  padding: 10% 5%;
  margin-top: -80px;
}

.info {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 3%;
  text-align: center;
  background-color: black;
  color: aliceblue;
  margin: 0 auto;
  align-content: center;
  font-size: 30px;
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 40px;
  padding-bottom: 20px;
}
