.landing {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: backgroundChange 10s linear infinite;
}

@keyframes backgroundChange {
  0% {
    background-image: url("../images/back1.png");
  }
  33% {
    background-image: url("../images/back2.png");
  }
  66% {
    background-image: url("..//images/back3.png");
  }
  99% {
    background-image: url("../images/back4\ \(1\).png");
  }
}

.login {
  justify-content: center;
  color: black;
}
