.popup {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  padding: 10% 5%;

  margin: 0 auto;
  padding: 15%;
}

.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 3%;
  text-align: center;
  color: black;
  margin-bottom: 0 auto;
  align-content: center;
  font-size: 30px;
  text-align: start;
  margin-top: 120px;
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 40px;
}

.popup img {
  border: 1px solid rgba(0, 0, 0, 0.8);
  object-fit: contain;
  height: 400px;
  width: 500px;
}

.info {
  padding: 5%;
}
